* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  padding: 1rem;
  background: #fff;
  height: auto;
  wigth: 100vh;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 1rem auto;
    height: 100vh;
    border-radius: 1rem;
  }
}
