* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

.content {
  padding: 1rem;
}

ol.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.pokemons li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #14a06f;
  color: white;
  font-size: 1rem;
}

ol.pokemons li img {
  max-width: 100%;
  heigth: 100px;
  align-self: flex-end;
}
